<doctype html>
 <html>
   <head>
     <title>Plantio</title>
   </head>
   <body>
     <form name="Plants" action="/plant_cal" method="POST" onsubmit="">
     <p>
       <input type="checkbox" name="plants" value="rose" id="rose" class="check_box">
       <label for="rose"><img src="https://66.media.tumblr.com/33edd00e3b6a4327ce0062b10bbf3025/tumblr_pjmq2tSEBq1tot637o6_1280.jpg"></label>
       <input type="checkbox" name="plants" value="fig" id="fig" class="check_box">
       <label for="fig"><img src="https://66.media.tumblr.com/19fadb9e90c103a29dea9a62095a3390/tumblr_pjmq2tSEBq1tot637o8_1280.jpg"></label>
       <input type="checkbox" name="plants" value="aloe" id="aloe" class="check_box">
       <label for="aloe"><img src="https://66.media.tumblr.com/ed9d7326b6df1eee60957eab99478e07/tumblr_pjmq2tSEBq1tot637o3_1280.jpg"></label>
     </p>
     <p><input type=submit value=Next></p>
     </form>
   </body>
 </html>
