<doctype html>
 <html>
   <head>
     <title>Plantio</title>
   </head>
   <body>
     <form name="Plants" action="/plant_cal" method="POST" onsubmit="">
     <p>
       <input type="checkbox" name="plants" value="rose" id="rose" class="check_box"/>Rose<br/>
       <input type="checkbox" name="plants" value="fig" id="fig" class="check_box"/>Fig<br/>
       <input type="checkbox" name="plants" value="aloe" id="aloe" class="check_box"/>Aloe<br/>
       <input type="checkbox" name="plants" value="sunflower" id="sunflower" class="check_box"/>Sunflower<br/>
     <p><input type=submit value=Next class="submit"></p>
     </form>
   </body>
 </html>
